/* Variables */
:root{
    
}

/* Styles */
.webpage{
    min-height: 100vh;
    background: linear-gradient(to bottom, #cee8f9 0%,#f5fbff 100%);
    padding: 50px;
}

.webpage__top-block-container, .webpage__content-container, .webpage__bottom-block__description{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.webpage__top-block-container{
    display: flex;
    justify-content: space-between;
}

.top-block__buttons-wrapper{
}

.webpage__button{
    background: #ff9c42;
    color: #fff;
    padding: 15px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    line-height: 20px;
    border: none;
    font-family: 'Roboto';
    transition: .3s ease;
}

.webpage__button:hover{
    background: #f7851e;
    border: none;
    cursor: pointer;
}

.top-block__image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.classifier-content {
    background-color:#fff;
    padding: 50px;
    margin-bottom: 50px; 
}

/* Classifier styles */
.classifier__text-area__subcontent{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.classifier__text-area{
    margin-top: 30px;
    width: calc(100% - 30px);
    resize: vertical;
    border: 1px solid transparent;
    border-radius: var(--default-border-radius);
    transition: .3s ease;
    box-shadow: 0px 4px 13px 3px rgba(211, 211, 211, 0.2);
    padding: 15px;
    font-family: 'Roboto';
    font-size: 16px;
    margin-bottom: 30px;
}

.headline{
    font-family: 'Poppins';
    font-size: 2.2em;
    font-weight: 600;
    color: #2b7cc5;
    text-align: center;
}

.webpage__bottom-block__description__headline{
    margin-bottom: 15px;
    margin-bottom: 0px;
}

.webpage__bottom-block__description__text{
    padding: 30px 50px 50px 50px;
    line-height: 1.4rem;
}